@font-face {
    font-family: "Cy Grotesk Grand";
    src: url("../fuentes/CyGroteskGrand.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Agrandir";
    src: url("../fuentes/Agrandir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    
}

.navbar-custom{
    background-color: #EADCF8; /* Lila suave */
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}


.logo-navbar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.navbar-brand{
    font-family: "Cy Grotesk Grand", sans-serif;
    color: #4B2E83;
    font-size: 1.35rem;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #4B2E83;
}

.hero{
    background: #7dbbbe;
    padding: 70px 0 80px;
    position: relative;
    overflow: hidden;
    font-family: "Agrandir", sans-serif;
}

.hero .container{
    max-width: 1140px;
}

.hero h1{
    font-family:"Agrandir", sans-serif;
    font-size:clamp(2.2rem,7vw,4rem);
    line-height:1.1;
}

.hero .lead{
    font-size:clamp(1rem,3vw,1.2rem);
}

.btn-voluntario{
    background-color: #92437d;
    color: #fff;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-voluntario:hover{
    background-color: #5C294E;
    color: #fff;
}

.pilares{
    padding: 80px 0;
    background: #fff;
}

.pilares h2,
.pilar-card h5{
    font-family: "Cy Grotesk", sans-serif;
    color: #70325F;
    font-weight: 700;
}
.hero-subtitle{
    font-family: "Agrandir", sans-serif;
    color: #70325F;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.pilar-card p{
    font-family: "Agrandir", sans-serif;
    color: #555;
    line-height: 1.7;
    margin-bottom: 0;
}

.pilar-card{
    background: #fff;
    border-radius: 18px;
    padding: 30px;
    height: 100%;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .3s ease;
}

.pilar-card:hover{
    transform: translateY(-8px);
}

.pilar-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #F5E9F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pilar-icon i{
    font-size: 2rem;
    color: #70325F;
}

.sobre-movimiento{
    background-color: #3C4690;
    padding: 55px 0;
    color: white;
}

.sobre-movimiento h2{
    font-family: "Cy Grotesk", sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: white;
}

.sobre-movimiento p{
    font-family: "Agrandir", sans-serif;
    font-size: 1.05rem;
    line-height: 1.8;
    color: rgba(255,255,255,.9);
}

.seccion-subtitulo{
    font-family: "Agrandir", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #47F9F1;
    margin-bottom: 10px;
}

.noticia-thumb{
    overflow: hidden;
    border-radius: 25px;
}

.imagen-movimiento{
    width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
